
.otsi {
    font-size: 50px;
    text-align: center;
}

.search {
    margin: auto;
    display: block;
    width: 250px;
    height: 35px;
}
.kast {
    height: 80px;
    width: 300px;
    border-style: solid;
    margin: 20px;
}

