
.container{	
    display: flex;	
    flex-direction: column;	
    background: #66ccff;	
    padding: 10px;	
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;	
    border-radius: 7px;	
    height: 55px;	
}

#root{

}




@media only screen and (max-width: 600px) {
    .kast {
      width:300px;
      margin: auto;
      
    
  }
}

* {
  margin: 0;
  padding: 0;

}
  body {
  background: #D1F0FF;
  font-family: 'Nunito', sans-serif;

  }

.className {
  font-weight: bold;
}

.grid-pancake {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

header {
  height: 32px;
  width: 100%;
  background: #66CCFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #66ccff;

}

.weekselect,
.weekselect i {
  margin-left: 10px;
  align-items: center;
  vertical-align: middle;
}

.calendar {
  margin-right: 10px;
}

.lisa {
  color: blanchedalmond;
  background-color: black;
}

.sisukast {
  margin-top: 32px;
  padding: 3%;
  height: 1000px;
  background-color: brown;
}

.flex-container {
  display: flex;
  margin-top: 32px;
  padding: 3%;
  align-items: center;
  border-radius: 50px;
  border-color: black;
  justify-content: center;
  margin: center;
  flex-wrap: wrap;
}

.flex-container > div {
  width: 75px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 0.5rem 0;
  bottom: 0;
  background-color: rgb(63, 62, 62);
}

.footerSearch {
  display: grid;
  grid-template-columns: max-content auto max-content;
  padding: 0.5rem 1rem;
  align-items: center;
  background-color: rgb(70, 70, 70);
  border-radius: 0.5rem;
}

.footerSearch * {
  color: white;
}

.footerSearch .star {
  width: 40px;
  height: 40px;
}

.footerSearch input {
   background: transparent;
   padding: 0.5rem;
   border: none;
   margin: 0 0.75rem;
}

.footerSearch input:focus{
  outline: none;
}

.kast {
  width: 500px;
  margin: auto;
}

.weekdays {
  scroll-margin: 35px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}